<ng-container *ngIf="product.length === 0; else notEmpty">
  <div class="empty" style="margin-top: 3rem;
  background-color: #e9e9e9a3;
  padding: 2rem;
  width: 74%;
  margin-left: 12rem;">
  <h2 style="text-align: center;">{{'Your Amazon Cart is empty.'| translate}}</h2>
  <p>our shopping basket lives to serve. Give it purpose - fill it with groceries, clothing, household supplies, electronics and more.
    Continue shopping on the amazon.eg homepage, learn about Today's Deals, or visit your Wish List.</p>
  </div>

  <section class="today_deals_container deal2" style="overflow-x:auto; background-color: white;">
    <div class="today_deals_heading">
        <h3> Products</h3>
    </div>
  
        
        <!-- prd -->
        <div class="gallerybox today_deals_product_list gall1"> 
            <div class="imgbox today_deals_product_item" *ngFor="let product of allProducts"> 
              <img *ngIf="product.productImages && product.productImages.length > 0" [src]="'data:image/jpg;base64,' + product.productImages[0]" >
                <div class="discount_Contaienr" >
                     <p class="descriptionrelated"><a [href]="'/Details/' + product.id"> {{getProductDescription(product) }}</a> </p>
                      
                     @if (product.rating && product.rating > 0 && product.rating <= 1) 
                     {
                      <i class="fas fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i>
                     }
                     @else if (product.rating && product.rating > 1 && product.rating < 2) 
                     {
                       <i class="fas fa-star" style="color:#E67A00;"></i>  <i class="fas fa-star-half-alt" style="color: #E67A00;"></i><i class="far fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i>
                     }
                     @else if (product.rating && product.rating ==2 ) 
                     {
                       <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i>
                     }
                     @else if (product.rating && product.rating > 2 && product.rating < 3) 
                     {
                       <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star-half-alt" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i>
                     }
                 
                     @else if (product.rating && product.rating ==3) 
                     {
                       <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i>
                     }
                     @else if (product.rating && product.rating > 4 && product.rating < 5) 
                     {
                       <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star-half-alt" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i>
                     }
                     @else if (product.rating && product.rating ==4 ) 
                     {
                       <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i>
                     }
                     @else if (product.rating && product.rating ==5 ) 
                     {
                       <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i>
                     }
                </div>
                <p><sup>EGP</sup>{{ product.price }}<sup>00</sup></p>
            </div>
        </div>
     
   
  
  </section>
</ng-container>

<ng-template #notEmpty>
  <div class="container mt-5 mb-5">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-md-9">
          <div class="ibox">
            <div class="ibox-title">
              <span class="pull-right">(<strong>{{ product.length }}</strong>) {{'cart.items'|translate}}</span>
              <h5>{{'cart.Items in your cart'|translate}}</h5>
            </div>
            <div class="ibox-content">
              <div class="table-responsive">
                <table class="table shoping-cart-table">
                  <tbody>
                    <tr *ngFor="let item of product">
                      <td width="90">
                        <img [src]="'data:image/jpg;base64,' + item.productimages?.[0]" alt="Product Image" style="margin-top: 23px;max-width: 127px;">
                      </td>
                      <td class="desc">
                        <h4>
                          <h4>{{item.nameEn}}</h4>
                          <h5  class="text-navy">{{ item.productDescription }}</h5>
                        </h4>
                        <p class="small">
                          {{ item.productDescription }}
                        </p>
                        <dl class="small m-b-none">
                          <dt>{{'cart.Description lists'|translate}}</dt>
                          <dd>{{'cart.A description list is perfect for defining terms'|translate}}</dd>
                          
                            <div class="quantity-controls">
                              <button class=" btn-sm btn-secondary" (click)="decreaseQuantity(item)">
                                <i class="fa fa-minus"></i>
                              </button>
                              <span class="quantity">{{ item.quantity }}</span>
                              <button class=" btn-sm btn-secondary" (click)="increaseQuantity(item)" [disabled]="!canIncreaseQuantity(item)">
                                <i class="fa fa-plus"></i>
                              </button>
                              
                            </div>
                         
                          
                        </dl>

                        <div class="m-t-sm">
                        
                          <a class="text-muted" (click)="Remove(item)"><i class="fa fa-trash"></i>{{'cart.Remove item'|translate}} </a>
                        </div>
                      </td>
                
                      <td>
                        <!-- {{ item.price | currency }} -->
                        <span class=" text-muted" style="font-size:20px;">{{item.price}}$</span>
                      </td>
                      <td width="65">
                        <!-- <input type="checkbox" [(ngModel)]="item.id"> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>

            <div class="ibox-content" >
              <button class="btn btn-white btn" (click)="goBack()" >
                <i class="fa fa-arrow-left btn"></i> {{'cart.Continue shopping' | translate}}
              </button>
            </div>
          </div>

        </div>
        <div class="col-md-3">
          <div class="ibox">
            <!-- <div class="ibox-title">
              <h5>{{'cart.Cart Summary'|translate}}</h5>
            </div> -->
            <div class="ibox-content">
              <span>Total</span>
              <h2 class="font-bold">{{ grandToltal}}</h2>
            </div>
            <div class="paypal">
              <ngx-paypal *ngIf="isAddressSubmitted" [config]="payPalConfig"></ngx-paypal>
              <button type="button" class="btn btn-warning" (click)="emptyOrder()"> {{'cart.Delete All Cart'|translate}}</button>
              <button class="btn btn-warning" *ngIf="!isAddressSubmitted && !isCartEmpty" (click)="gottoAddress()">{{'cart.Enter Shipping Address'|translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <section class="today_deals_container deal2" style="overflow-x:auto; background-color: white;">
    <div class="today_deals_heading">
        <h3> Products related to this item</h3>
    </div>
  
        
        <!-- prd -->
        <div class="gallerybox today_deals_product_list gall1"> 
            <div class="imgbox today_deals_product_item" *ngFor="let product of randomProducts"> 
              <img *ngIf="product.productImages && product.productImages.length > 0" [src]="'data:image/jpg;base64,' + product.productImages[0]" >
                <div class="discount_Contaienr" >
                     <p class="descriptionrelated"><a [href]="'/Details/' + product.id"> {{getProductDescription(product) }}</a> </p>
                      
                     @if (product.rating && product.rating > 0 && product.rating <= 1) 
                     {
                      <i class="fas fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i>
                     }
                     @else if (product.rating && product.rating > 1 && product.rating < 2) 
                     {
                       <i class="fas fa-star" style="color:#E67A00;"></i>  <i class="fas fa-star-half-alt" style="color: #E67A00;"></i><i class="far fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i>
                     }
                     @else if (product.rating && product.rating ==2 ) 
                     {
                       <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i>
                     }
                     @else if (product.rating && product.rating > 2 && product.rating < 3) 
                     {
                       <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star-half-alt" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i>
                     }
                 
                     @else if (product.rating && product.rating ==3) 
                     {
                       <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i>
                     }
                     @else if (product.rating && product.rating > 4 && product.rating < 5) 
                     {
                       <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star-half-alt" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i>
                     }
                     @else if (product.rating && product.rating ==4 ) 
                     {
                       <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="far fa-star" style="color:#E67A00;"></i>
                     }
                     @else if (product.rating && product.rating ==5 ) 
                     {
                       <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i> <i class="fas fa-star" style="color:#E67A00;"></i>
                     }
                </div>
                <p><sup>EGP</sup>{{ product.price }}<sup>00</sup></p>
            </div>
        </div>
     
   
  
  </section>
</ng-template>
