.con2{
  display: flex;
  flex-direction:row-reverse;
}
button{
  border:none; 
  background-color:transparent;
  color: #808080

}
button a{
  text-decoration: none;
  color: #808080


}
table button:hover{
  text-decoration:underline;
  color: #808080;

}
.cart-tabel{
  width:50% !important;
}
.table td{
  padding: .5rem 1.5rem !important;
}
.ecommerce-gallery .lightbox {
  position: relative;
  width: 100%;
   /* Full width of its parent */
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  overflow: hidden;
}

.ecommerce-gallery .lightbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* This ensures the image covers the area without losing its aspect ratio */
}
.today_deals_container{
margin: 10px;
box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1),
2px 2px 5px rgba(0, 0, 0, 0.1);
align-items: center;
width: 99%;
}
.today_deals_heading{
display: flex;
align-items: center;
padding: 20px 20px;
}
.today_deals_heading p a{
color:rgb(39, 114, 107);
text-decoration: none;
padding-left: 20px;
}
.today_deals_heading p a:hover{
text-decoration: underline;
}

.today_deals_product_container{
/* background-color: red; */
height: auto;
position: relative;
}
.today_deals_product_list{
display: flex;
/* overflow: hidden;  scrolllll*/ 

}
.today_deals_product_item{
min-width: 250px;
white-space: normal;
padding: 0px 10px;
margin-right: 10px;
display: flex;
flex-wrap: nowrap;
flex-direction: column;
transform: translateX(0%);
transition: transform 1s;
width: 18%;
height: auto;
font-size: small;

}
.todayDeals_product_image{
height: 200px;
width: 210px;
display: flex;
justify-content: center;
align-content: center;
margin-bottom: 15px;

}
.today_deals_product_item img{
width: 72%;
height: 80%;
/* padding: 20px 20px; */
background-color: red;
align-items: center;
justify-content: center;
margin-left: 20%;
margin-top: 1%;
}
.today_deals_product_item p{
justify-self: flex-end;
font-size: 18px;
padding-left: 10px;
}

.discount_Contaienr a{
padding: 5px 10px;
font-size: 14px;
color:#007185;
text-decoration: none;
overflow-wrap: break-word;
}
.discount_Contaienr a:first-child{

padding: 5px 10px;
color:#007185;
font-weight: 550;
text-decoration: none;
border-radius: 3px;
font-size: 18px;
padding-left: 10px;
}
.descriptionrelated a:hover {
color:#E67A00;
text-decoration: underline; 
}

.today_deals_btn_container{
position: absolute;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
height: 100%;
padding: 20px;
z-index: 10;
}
.today_deal_btn{
padding: 40px 10px;
font-size: 40px;
border: none;
outline: none;
background-color: rgb(255,255,255,0.4);
}
.text{
  background-color: white;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}
.link{
  width: 100px;
}
.link a{
  text-decoration: none;
}
.link a:hover{
  text-decoration: underline;
}
.discount_Contaienr
{
  height: auto;
}
.btn{
  background-color:#ffd814;
  color:black;
margin-bottom: 10px;

}

.ibox-content{
  padding: 5px;
}

.ibox-content i{
  padding-top:15px;
}
@media (min-width: 772px) and (max-width:978px){
  .today_deals_container{
    width:98%
  }
  .empty{
    margin-left:8rem !important;
  }
}
@media (min-width: 500px) and (max-width:772px){
  .today_deals_container{
    width:97%
  }
  .empty{
    margin-left: 0rem !important;
    width: 100% !important;
  }

}