<section >
  <div class="container  ">
    <div class="row justify-content-center">
      <div class="col-12">
        <ul>
          <li><a href="#" id="backToTop">Back to Top</a></li> </ul>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row ">
      <div class="col-lg-3 col-sm-6">
        <h5>{{ 'footer.Get to Know Us' | translate }}</h5>
        <ul>
          <li><a href="#">{{ 'footer.Careers' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Amazon Newsletter' | translate }}</a></li>
          <li><a href="#">{{ 'footer.About Amazon' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Accessibility' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Sustainability' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Press Center' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Investor Relations' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Amazon Devices' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Investor Relations' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h5>{{ 'Make Money with Us' | translate }}</h5>
        <ul>
          <li><a href="#">{{ 'Sell on Amazon' | translate }}</a></li>
          <li><a href="#">{{ 'Sell apps on Amazon' | translate }}</a></li>
          <li><a href="#">{{ 'Supply to Amazon' | translate }}</a></li>
          <li><a href="#">{{ 'Protect & Build Your Brand' | translate }}</a></li>
          <li><a href="#">{{ 'Become an Affiliate' | translate }}</a></li>
          <li><a href="#">{{ 'Start a Package Delivery Business' | translate }}</a></li>
          <li><a href="#">{{ 'Advertise Your Products' | translate }}</a></li>
          <li><a href="#">{{ 'Self-Publish with Us' | translate }}</a></li>
          <li><a href="#">{{ 'Host an Amazon Hub' | translate }}</a></li>
          <li><a href="#">{{ 'See More Ways to Make Money' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h5>{{ 'Amazon Payment Products' | translate }}</h5>
        <ul>
          <li><a href="#">{{ 'Amazon Visa' | translate }}</a></li>
          <li><a href="#">{{ 'Amazon Store Card' | translate }}</a></li>
          <li><a href="#">{{ 'Amazon Secured Card' | translate }}</a></li>
          <li><a href="#">{{ 'Amazon Business Card' | translate }}</a></li>
          <li><a href="#">{{ 'Shop with Points' | translate }}</a></li>
          <li><a href="#">{{ 'Credit Card Marketplace' | translate }}</a></li>
          <li><a href="#">{{ 'Reload Your Balance' | translate }}</a></li>
          <li><a href="#">{{ 'Gift Cards' | translate }}</a></li>
          <li><a href="#">{{ 'Amazon Currency Converter' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h5>{{ 'Let Us Help You' | translate }}</h5>
        <ul>
          <li><a href="#">{{ 'Your Account' | translate }}</a></li>
          <li><a href="#">{{ 'Your Orders' | translate }}</a></li>
          <li><a href="#">{{ 'Shipping Rates & Policies' | translate }}</a></li>
          <li><a href="#">{{ 'Amazon Prime' | translate }}</a></li>
          <li><a href="#">{{ 'Returns & Replacements' | translate }}</a></li>
          <li><a href="#">{{ 'Manage Your Content and Devices' | translate }}</a></li>
          <li><a href="#">{{ 'Recalls and Product Safety Alerts' | translate }}</a></li>
          <li><a href="#">{{ 'Help' | translate }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>



<div class="lan">
  <span class="icp-container-desktop">
    <div class="navFooterLine">
      <hr>
     
      <span style="margin-right:10px">
          <div class="nav-logo-base nav-sprite"></div>
      </span>
      <span  href="" aria-label="Choose a language for shopping." class="icp-button" id="icp-touch-link-language">
        <i class="fas fa-globe"></i>
        <select   id="Language">
          <option value="En">English</option>
          <option value="Arabic">Arabic</option>
        </select>
      </span>
      <span>
      <style type="text/css"></style>
      <a href="" aria-label="Choose a country/region for shopping." class="icp-button d2" id="icp-touch-link-country">
        <i class="fas fa-flag-usa"></i> <span class="icp-color-base">United States</span>
      </a>
    </span>
    </div>
  </span>
</div>


<footer class="f2">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6">
        <h6>{{ 'Amazon Music' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Reproduce millones de canciones' | translate }}</a></li>
        </ul>
        <h6>{{ 'Amazon Business' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Todo para tu negocio' | translate }}</a></li>
        </ul>
        <h6>{{ 'Box Office Mojo' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Encuentra películas Datos de taquilla' | translate }}</a></li>
        </ul>
        <h6>{{ 'Prime Video Direct' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Distribución de Video Sin Esfuerzo' | translate }}</a></li>
        </ul>
        <h6>{{ 'Ring' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Casa Inteligente Sistemas de Seguridad' | translate }}</a></li>
        </ul>
      </div>
 
      <div class="col-lg-2 col-md-4 col-sm-6">
        <h6>{{ 'Amazon Advertising' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Encontrar, atraer y captar clientes' | translate }}</a></li>
        </ul>
        <h6>{{ 'Amazon Fresh' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Productos de almacén y más En la puerta de tu casa' | translate }}</a></li>
        </ul>
        <h6>{{ 'Goodreads' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Análisis de libros y recomendaciones' | translate }}</a></li>
        </ul>
        <h6>{{ 'Shopbop' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Diseñador Marcas de Moda' | translate }}</a></li>
        </ul>
        <h6>{{ 'Wifi eero' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Video 4K en tiempo real en todas las habitaciones' | translate }}</a></li>
        </ul>
      </div>
      



      <div class="col-lg-2 col-md-4 col-sm-6">
        <h6>{{ '6pm' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Descubre ofertas en marcas de moda' | translate }}</a></li>
        </ul>
        <h6>{{ 'AmazonGlobal' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Pedidos de Envío Internacional' | translate }}</a></li>
        </ul>
        <h6>{{ 'IMDb' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Películas, TV y Celebridades' | translate }}</a></li>
        </ul>
        <h6>{{ 'Amazon Warehouse' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Grandes Ofertas en Productos Usados de Calidad' | translate }}</a></li>
        </ul>
        <h6>{{ 'Blink' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Seguridad inteligente para todos los hogares' | translate }}</a></li>
        </ul>
        <h6>{{ 'Amazon Renewed' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Productos como nuevos confiables' | translate }}</a></li>
        </ul>
      </div>
      
      <div class="col-lg-2 col-md-4 col-sm-6">
        <h6>{{ 'AbeBooks' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Obtén información de entretenimiento que los profesionales necesitan' | translate }}</a></li>
        </ul>
        <h6>{{ 'IMDbPro' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'El supermercado más saludable en los Estados Unidos' | translate }}</a></li>
        </ul>
        <h6>{{ 'Neighbors App' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Alertas de seguridad y delitos en tiempo real' | translate }}</a></li>
        </ul>
      </div>
      


      
      <div class="col-lg-2 col-md-4 col-sm-6">
        <h6>{{ 'ACX' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Editorial de Audiolibros Hecho Fácil' | translate }}</a></li>
        </ul>
        <h6>{{ 'Amazon Web Services' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Servicios de cómputo en nube escalable Estados Unidos' | translate }}</a></li>
        </ul>
        <h6>{{ 'Kindle Direct Publishing' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Publica tu libro en papel y digital de manera independiente' | translate }}</a></li>
        </ul>
        <h6>{{ 'Woot!' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Descuentos y travesuras' | translate }}</a></li>
        </ul>
        <h6>{{ 'Suscríbete con Amazon' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'a los servicios de suscripción de "Discover & try" PillPack Pharmacy simplificado' | translate }}</a></li>
        </ul>
      </div>
      

    



      
      <div class="col-lg-2 col-md-4 col-sm-6">
        <h6>{{ 'Venda en Amazon' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Comience una cuenta de venta' | translate }}</a></li>
        </ul>
        <h6>{{ 'Audible' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Escucha Libros e Interpretaciones de Audio Originales' | translate }}</a></li>
        </ul>
        <h6>{{ 'Prime Fotos' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Almacenamiento ilimitado de fotos Gratis con Prime' | translate }}</a></li>
        </ul>
        <h6>{{ 'Zappos' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Zapatos y ropa' | translate }}</a></li>
        </ul>
        <h6>{{ 'PillPack' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'Pharmacy simplificado' | translate }}</a></li>
        </ul>
      </div>
        
    </div>
  </div>
  <div class="row mt-4">

    <div class="col" id="copy" style="display: flex; justify-content: center; align-items: center;">
      Condiciones de uso
      Aviso de privacidad
      Tus opciones de privacidad de los anuncios
      © 1996-2024 Amazon.com, Inc. o sus afiliados
    </div>
  </div>
</footer>