<section >
  <div class="container  ">
    <div class="row justify-content-center">
      <div class="col-12">
        <ul>
          <li><a href="#" id="backToTop">Back to Top</a></li> </ul>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row ">
      <div class="col-lg-3 col-sm-6">
        <h5>Get to Know Us</h5>
        <ul>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Amazon Newsletter</a></li>
          <li><a href="#">About Amazon</a></li>
          <li><a href="#">Accessibility</a></li>
          <li><a href="#">Sustainability</a></li>
          <li><a href="#">Press Center</a></li>
          <li><a href="#">Investor Relations</a></li>
          <li><a href="#">Amazon Devices</a></li>
          <li><a href="#">Investor Relations</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h5>Make Money with Us</h5>
        <ul>
          <li><a href="#">Sell on Amazon</a></li>
          <li><a href="#">Sell apps on Amazon</a></li>
          <li><a href="#">Supply to Amazon</a></li>
          <li><a href="#">Protect & Build Your Brand</a></li>
          <li><a href="#">Become an Affiliate</a></li>
          <li><a href="#">Start a Package Delivery Business</a></li>
          <li><a href="#">Advertise Your Products</a></li>
          <li><a href="#">Self-Publish with Us</a></li>
          <li><a href="#">Host an Amazon Hub</a></li>
          <li><a href="#">See More Ways to Make Money</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h5>Amazon Payment Products</h5>
        <ul>
          <li><a href="#">Amazon Visa</a></li>
          <li><a href="#">Amazon Store Card</a></li>
          <li><a href="#">Amazon Secured Card</a></li>
          <li><a href="#">Amazon Business Card</a></li>
          <li><a href="#">Shop with Points</a></li>
          <li><a href="#">Credit Card Marketplace</a></li>
          <li><a href="#">Reload Your Balance</a></li>
          <li><a href="#">Gift Cards</a></li>
          <li><a href="#">Amazon Currency Converter</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h5>Let Us Help You</h5>
        <ul>
          <li><a href="#">Your Account</a></li>
          <li><a href="#">Your Orders</a></li>
          <li><a href="#">Shipping Rates & Policies</a></li>
          <li><a href="#">Amazon Prime</a></li>
          <li><a href="#">Returns & Replacements</a></li>
          <li><a href="#">Manage Your Content and Devices</a></li>
          <li><a href="#">Recalls and Product Safety Alerts</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
    </div>
  </div>
  
</footer>


<div class="lan">
  <span class="icp-container-desktop">
    <div class="navFooterLine">
      <hr>
     
      <span style="margin-right:10px">
          <div class="nav-logo-base nav-sprite"></div>
      </span>
      <span  href="" aria-label="Choose a language for shopping." class="icp-button" id="icp-touch-link-language">
        <i class="fas fa-globe"></i>
        <select   id="Language">
          <option value="En">English</option>
          <option value="Arabic">Arabic</option>
        </select>
      </span>
      <span>
      <style type="text/css"></style>
      <a href="" aria-label="Choose a country/region for shopping." class="icp-button d2" id="icp-touch-link-country">
        <i class="fas fa-flag-usa"></i> <span class="icp-color-base">United States</span>
      </a>
    </span>
    </div>
  </span>
</div>


<footer class="f2">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6">
        <h6>Amazon Music</h6>
        <ul>
          <li><a href="#">Reproduce millones
            de canciones</a></li>
        </ul>
        <h6>Amazon Business</h6>
        <ul>
          <li><a href="#">Todo para
            tu negocio</a></li>
        </ul>
        <h6> Box Office Mojo</h6>
        <ul>
          <li><a href="#">     
            Encuentra películas
            Datos de taquilla	
           </a></li>
        </ul>
        <h6>Prime Video Direct</h6>
        <ul>
          <li><a href="#">     
            Distribución de Video
            Sin Esfuerzo	
           </a></li>
        </ul>
        <h6>Ring</h6>
        <ul>
          <li><a href="#">     
            Casa Inteligente
            Sistemas de Seguridad
           </a></li>
        </ul>
      </div>
 
      <div class="col-lg-2 col-md-4 col-sm-6">
        <h6>Amazon Advertising</h6>
        <ul>
          <li><a href="#">Encontrar, atraer y
            captar clientes</a></li>
        </ul>
        <h6>Amazon Fresh</h6>
        <ul>
          <li><a href="#">Productos de almacén y más
            En la puerta de tu casa</a></li>
        </ul>
        <h6>Goodreads</h6>
        <ul>
          <li><a href="#">     
            Análisis de libros
            y recomendaciones
           </a></li>
        </ul>
        <h6>	Shopbop</h6>
        <ul>
          <li><a href="#">     
            Diseñador
            Marcas de Moda
           </a></li>
        </ul>
        <h6>	Wifi eero</h6>
        <ul>
          <li><a href="#">     
            Video 4K en tiempo real en todas las habitaciones
           </a></li>
        </ul>
      </div>



      <div class="col-lg-2 col-md-4 col-sm-6">
        <h6>6pm</h6>
        <ul>
          <li><a href="#">Descubre ofertas
            en marcas de moda</a></li>
        </ul>
        <h6>AmazonGlobal</h6>
        <ul>
          <li><a href="#">Pedidos de Envío
            Internacional</a></li>
        </ul>
        <h6>IMDb</h6>
        <ul>
          <li><a href="#">     
            Películas, TV
            y Celebridades
           </a></li>
        </ul>
        <h6>Amazon Warehouse</h6>
        <ul>
          <li><a href="#">     
            Grandes Ofertas en
            Productos Usados de Calidad
           </a></li>
        </ul>
        <h6>Blink</h6>
        <ul>
          <li><a href="#">     
            Seguridad inteligente
            para todos los hogares
           </a></li>
        </ul>
        <h6>Amazon Renewed</h6>
        <ul>
          <li><a href="#">     
          Productos como nuevos
          confiables
           </a></li>
        </ul>
      </div>


      <div class="col-lg-2 col-md-4 col-sm-6">
        <h6>AbeBooks</h6>
        <ul>
          <li><a href="#">
            Obtén información de entretenimiento
            que los profesionales necesitan	</a></li>
        </ul>
        <h6>IMDbPro</h6>
        <ul>
          <li><a href="#">El supermercado más
            saludable en los
            Estados Unidos</a></li>
        </ul>
        <h6>Neighbors App</h6>
        <ul>
          <li><a href="#">     
            Alertas de seguridad
            y delitos en tiempo real	
           </a></li>
        </ul>
        
      </div>


      
      <div class="col-lg-2 col-md-4 col-sm-6">
        <h6>ACX</h6>
        <ul>
          <li><a href="#">
            Editorial de Audiolibros
            Hecho Fácil	</a></li>
        </ul>
        <h6>Amazon Web Services</h6>
        <ul>
          <li><a href="#">Servicios de cómputo
            en nube escalable
            Estados Unidos</a></li>
        </ul>
        <h6>Kindle Direct Publishing</h6>
        <ul>
          <li><a href="#">     
    Publica tu libro en papel y digital
    de manera independiente
           </a></li>
        </ul>
        <h6>Woot!</h6>
        <ul>
          <li><a href="#">     
            Descuentos y
            travesuras
           </a></li>
        </ul>
        
        <h6>Suscríbete con Amazon</h6>
        <ul>
          <li><a href="#">     
            a los servicios de suscripción
            de "Discover & try"		PillPack
            Pharmacy simplificado
             
           </a></li>
        </ul>
      </div>

    



      
      <div class="col-lg-2 col-md-4 col-sm-6">
        <h6>Venda en Amazon</h6>
        <ul>
          <li><a href="#">
            Comience una cuenta de venta</a></li>
        </ul>
        <h6>Audible</h6>
        <ul>
          <li><a href="#">
            Escucha Libros e Interpretaciones
            de Audio Originales</a></li>
        </ul>
        <h6>	Prime Fotos</h6>
        <ul>
          <li><a href="#">     
            Almacenamiento ilimitado
            de fotos Gratis con Prime
           </a></li>
        </ul>
        <h6>	Zappos</h6>
        <ul>
          <li><a href="#">     
            Zapatos y
            ropa
           </a></li>
        </ul>
        
        <h6>PillPack</h6>
        <ul>
          <li><a href="#">     
            Pharmacy simplificado
           </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mt-4">

    <div class="col" id="copy">
      Condiciones de uso
      Aviso de privacidad
      Tus opciones de privacidad de los anuncios
      © 1996-2024 Amazon.com, Inc. o sus afiliados
    </div>
  </div>
</footer>