<section >
  <div class="container  ">
    <div class="row justify-content-center">
      <div class="col-12">
        <ul>
          <li><a    id="backToTop">Back to Top</a></li> </ul>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row ">
      <div class="col-lg-3 col-sm-6">
        <h5>{{ 'footer.Get to Know Us' | translate }}</h5>
        <ul>
          <li><a href="#">{{ 'footer.Careers' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Amazon Newsletter' | translate }}</a></li>
          <li><a href="#">{{ 'footer.About Amazon' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Accessibility' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Sustainability' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Press Center' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Investor Relations' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Amazon Devices' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Investor Relations' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h5>{{ 'Make Money with Us' | translate }}</h5>
        <ul>
          <li><a href="#">{{ 'footer.Sell on Amazon' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Sell apps on Amazon' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Supply to Amazon' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Protect & Build Your Brand' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Become an Affiliate' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Start a Package Delivery Business' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Advertise Your Products' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Self-Publish with Us' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Host an Amazon Hub' | translate }}</a></li>
          <li><a href="#">{{ 'footer.See More Ways to Make Money' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h5>{{ 'Amazon Payment Products' | translate }}</h5>
        <ul>
          <li><a href="#">{{ 'footer.Amazon Visa' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Amazon Store Card' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Amazon Secured Card' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Amazon Business Card' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Shop with Points' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Credit Card Marketplace' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Reload Your Balance' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Gift Cards' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Amazon Currency Converter' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h5>{{ 'Let Us Help You' | translate }}</h5>
        <ul>
          <li><a href="#">{{ 'footer.Your Account' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Your Orders' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Shipping Rates & Policies' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Amazon Prime' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Returns & Replacements' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Manage Your Content and Devices' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Recalls and Product Safety Alerts' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Help' | translate }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>



<div class="lan">
  <span class="icp-container-desktop">
    <div class="navFooterLine">
      <hr>
     
      <span style="margin-right:10px">
          <div class="nav-logo-base nav-sprite"></div>
          <span class="nav-item">
            <div class="Flagdiv dropdown">
              <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="flag " src="https://upload.wikimedia.org/wikipedia/commons/f/fe/Flag_of_Egypt.svg"> {{lang | translate}}
              </a>       
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#" (click)="changelanguage('en')">English</a></li>
                <li><a class="dropdown-item" href="#" (click)="changelanguage('ar')">Arabic</a></li>
              </ul>
            </div>
            
                <!-- <select (click)="changelanguage($event)" name="" id="">
                  <option [selected]="lang==='en'" value="en">{{'egypt'|translate}}English</option>
                  <option [selected]="lang==='ar'"value="ar">{{'egypt'|translate}}Arabic</option>
                </select> -->
          </span>
      <style type="text/css"></style>
      <a href="" aria-label="Choose a country/region for shopping." class="icp-button d2" id="icp-touch-link-country">
        <i class="fas fa-flag-usa"></i> <span class="icp-color-base">United States</span>
      </a>
    </span>
    </div>
  </span>
</div>


<footer class="f2">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6">
        <h6>{{ 'footer.Amazon Music' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Reproduce millones de canciones' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.Amazon Business' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Todo para tu negocio' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.Box Office Mojo' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Encuentra películas Datos de taquilla' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.Prime Video Direct' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Distribución de Video Sin Esfuerzo' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.Ring' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Casa Inteligente Sistemas de Seguridad' | translate }}</a></li>
        </ul>
      </div>
 
      <div class="col-lg-2 col-md-4 col-sm-6">
        <h6>{{ 'footer.Amazon Advertising' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Encontrar, atraer y captar clientes' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.Amazon Fresh' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Productos de almacén y más En la puerta de tu casa' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.Goodreads' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Análisis de libros y recomendaciones' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.Shopbop' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Diseñador Marcas de Moda' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.Wifi eero' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Video 4K en tiempo real en todas las habitaciones' | translate }}</a></li>
        </ul>
      </div>
      



      <div class="col-lg-2 col-md-4 col-sm-6">
        <h6>{{ 'footer.6pm' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Descubre ofertas en marcas de moda' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.AmazonGlobal' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Pedidos de Envío Internacional' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.IMDb' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Películas, TV y Celebridades' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.Amazon Warehouse' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Grandes Ofertas en Productos Usados de Calidad' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.Blink' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Seguridad inteligente para todos los hogares' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.Amazon Renewed' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Productos como nuevos confiables' | translate }}</a></li>
        </ul>
      </div>
      
      <div class="col-lg-2 col-md-4 col-sm-6">
        <h6>{{ 'footer.AbeBooks' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Obtén información de entretenimiento que los profesionales necesitan' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.IMDbPro' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.El supermercado más saludable en los Estados Unidos' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.Neighbors App' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Alertas de seguridad y delitos en tiempo real' | translate }}</a></li>
        </ul>
      </div>
      


      
      <div class="col-lg-2 col-md-4 col-sm-6">
        <h6>{{ 'footer.ACX' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Editorial de Audiolibros Hecho Fácil' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.Amazon Web Services' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Servicios de cómputo en nube escalable Estados Unidos' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.Kindle Direct Publishing' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Publica tu libro en papel y digital de manera independiente' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.Woot!' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Descuentos y travesuras' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.Suscríbete con Amazon' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.a los servicios de suscripción de "Discover & try" PillPack Pharmacy simplificado' | translate }}</a></li>
        </ul>
      </div>
      

    



      
      <div class="col-lg-2 col-md-4 col-sm-6">
        <h6>{{ 'footer.Venda en Amazon' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Comience una cuenta de venta' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.Audible' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Escucha Libros e Interpretaciones de Audio Originales' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.Prime Fotos' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Almacenamiento ilimitado de fotos Gratis con Prime' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.Zappos' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Zapatos y ropa' | translate }}</a></li>
        </ul>
        <h6>{{ 'footer.PillPack' | translate }}</h6>
        <ul>
          <li><a href="#">{{ 'footer.Pharmacy simplificado' | translate }}</a></li>
        </ul>
      </div>
        
    </div>
  </div>
  <div class="row mt-4">

    <div class="col" id="copy" style="display: flex; justify-content: center; align-items: center;">
      Condiciones de uso
      Aviso de privacidad
      Tus opciones de privacidad de los anuncios
      © 1996-2024 Amazon.com, Inc. o sus afiliados
    </div>
  </div>
</footer>