/* .addtocard
{
    border: 2px black solid;
} */

/* cart.component.css */
.btn-add-to-cart, .btn-buy-now {
    border-radius: 12px;
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
  }
  
  .btn-add-to-cart {
    background-color: #f7ca00;
  }
  
  .btn-buy-now {
    background-color: #fa8900;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) { /* For tablets and below */
    .btn-add-to-cart, .btn-buy-now {
      width: 100%;
      padding: 12px 0; /* More padding for better touch target */
    }
  }
  
  @media (max-width: 480px) { /* For mobile phones */
    .btn-add-to-cart, .btn-buy-now {
      font-size: 14px; /* Slightly smaller font size */
    }
  }
  .ecommerce-gallery .row {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 768px) {
  .ecommerce-gallery .col-3 {
      flex: 0 0 50%; /* Take up 50% of the container width on smaller screens */
      max-width: 50%;
  }
}

  .ecommerce-gallery .lightbox {
    position: relative;
    width: 100%;
     /* Full width of its parent */
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    overflow: hidden;
}

.ecommerce-gallery .lightbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the image covers the area without losing its aspect ratio */
}
