<style>
    @media (max-width: 768px) {
        .ecommerce-gallery-main-img {
            max-height: 200px; /* Reduces image height on small devices */
        }
    }
</style>
<body>
<div class="container-fluid">
<div class="row">
  <div class="col-12 col-md-12 col-lg-4"> 
    <div class="ecommerce-gallery" data-mdb-zoom-effect="true" data-mdb-auto-height="true">
        <div class="row py-3 shadow-5">
          <div class="col-12 mb-1">
            <div class="lightbox">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/14a.webp"
                alt="Gallery image 1"
                class="ecommerce-gallery-main-img active w-100 img-fluid"
              />
            </div>
          </div>
          <div class="col-3 mt-1">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/14a.webp"
              data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/14a.webp"
              alt="Gallery image 1"
              class="active w-100 img-fluid"
            />
          </div>
          <div class="col-3 mt-1">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/12a.webp"
              data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/12a.webp"
              alt="Gallery image 2"
              class="w-100 img-fluid"
            />
          </div>
          <div class="col-3 mt-1">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/13a.webp"
              data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/13a.webp"
              alt="Gallery image 3"
              class="w-100 img-fluid"
            />
          </div>
          <div class="col-3 mt-1">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/15a.webp"
              data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/15a.webp"
              alt="Gallery image 4"
              class="w-100 img-fluid"
            />
          </div>
        </div>
    </div>
  </div>
  <div class="col-10 col-md-12 col-lg-4 mt-3 mx-4">
    <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><p>Smart Watch for Men Women(Answer/Make Call),1.83" Fitness Tracker with Blood Pressure Heart Rate Monitor,Sleep Tracker,Pedometer,123 Sport Modes, IP68 Waterproof Smartwatches for iPhone&Android</p></li>
          <li class="list-group-item"><h3>The Price:</h3></li>
          <li class="list-group-item"><h4>Item Colors:</h4></li>
          <li class="list-group-item"><h4>About this item:</h4>【Bluetooth Call & Message Notification】This smart watch for Android iOS phones, after connecting via Bluetooth, it can Answer/Make Calls, and save call records and phonebooks, making your calls more convenient. Smartwatch will also vibrate to remind you of other App messages. You can adjust the intensity of the vibration. Whether you are in a meeting or exercising, you will not be disturbed or miss any
            ss watch can monitor blood pressure and heart rate in real time 24 hours a day, and also analyze your sleep quality by continuously recording your sleep status,and provide analysis reports and suggestions for the past week to help You adjust your lifestyle. As a sports watch, it has 123 sports modes, which can record your all-day activity data, such as calorie consumption,steps,activity track,etc.
          level of IP68, and it can have a good waterproof effect in the daily life of washing hands,sweating,raining and other situations (Please take it off in hot water and steam environment).100% battery</li>

        </ul>
      </div>

  </div>
  <div class="col-lg-2  mt-3 mx-4 ">
    <div class="card col-12 ">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><h5>the Price:</h5></li>
          <li class="list-group-item">payment details </li>
          <li class="list-group-item"> <div class="mb-3">
           
            <input type="number" class="form-control" id="quantityInput" placeholder="Quantity">
          </div>
        </li>

          <li class="list-group-item text-center">  <button type="button" class="btn btn-warning ">Add to Cart</button>
          </li>
          <li class="list-group-item text-center">  <button type="button" class="btn btn-warning ">Add to Cart</button>
          </li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>

  </div>
</div>
</div>