body{
  height: 110px;
}
.navbar{
  background-color: #0f1111;
  color: white;
  max-height: 75px !important;
  padding-top: 30px;
}

.navbar-brand,.nav-link,.nav-item
{
    color: white;
    font-size: 15px;

}
.navbar-brand img{
    padding-bottom:10px;
    padding-top: 10px;
    margin-bottom: 5px;
    width: 10vw;
    height: 8vh;
}
.navbar-nav .Deliver {
    min-height: 38px !important;
    min-width: 20% !important;
    color: #E67A00;
    /* padding-bottom:10px;
    margin-bottom: 25px; */
}

.logo,
.nav-link {
    padding: 4px;

}
.logo:hover,
.nav-link:hover {
  border: 1px solid rgb(255, 255, 255);
}

.nav-link:visited,
.nav-link:active,
.nav-link:focus {
    color: white;
}
.dropdown-menu {
    margin-left: 0;
}

.form-btn {
    background-color:#d6af3b;
    border-radius:5px;
    color: white;
    height: 38px;
}
input.form-control {
    width: 47vw !important;
}
.All
{
    background-color:#c3c5c4 ;
    width: 49px;
    height: 38px;
    border-radius: 3px;
    padding: 8px;
    color: black;
}
.All:hover
{
  background-color:#939393 ;
  border: none;
}
.in:dir(rtl)
{
  margin-left: -58px !important;

}
.in button:dir(rtl)
{
  margin-right: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
}
.form-select:dir(rtl){
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-right-radius: 5px !important;
  border-top-right-radius: 5px !important;
}
.All:focus,
.form-control:focus
{
border:2px solid #E67A00 !important;
outline-color: white;

}

.dropdown-menu li:hover a{
  background-color: #414ed6;
  height: 30px;
}

#dropdownMenuLink
{
  color:white;
}
input.Searchinput.form-control {
  max-height: 38px !important;
  max-width: 60% !important;
  outline: none;
}
.navbar-nav:dir(rtl){
  margin-right: -18px !important;
}
.flag
{
  width: 3vh;
  height: 3vh;
}
.Flagdiv:hover
{
  border: 1px solid rgb(255, 255, 255);
}
/* navbar2 */
.nav2{
    background-color: #232f3e;
}
.Admin{
  position: absolute;
  /* top: 4.9vw; */
  z-index: 0;
  right: 9vw;
  background-color: #fefefeeb;
  padding: 1vw 2vw;
  line-height: 2;
  border-radius: 5px;
}
.Admin-li:hover + .Admin,.Admin:hover{
  z-index: 10;
  top: 4.9vw;
}
.Admin-link{
  text-decoration: none;
  display: block;
  color: black;
  text-align: center;
}
.Admin-link:hover{
  color:#E67A00;
  border-bottom: 1px solid #E67A00;
}
.login-menu{
  text-align: center;
}
.login-menu a:hover{
  color:#E67A00;
  border-bottom: 1px solid #E67A00;
  background-color: white;
}
input.Searchinput.form-control{
  max-width: 90% !important;
}
.login-menu .dropdown-item:hover{
  background-color: white !important;
}
.input-group>.form-select{
  min-width: 100% !important;
}
@media screen and (min-width:1190px) {
.Admin{
  top: 5.9vw;
}
.navbar-nav:dir(rtl){
  margin-right: -13px !important;
}
input.Searchinput.form-control:dir(rtl){
  max-width: 83% !important;
}

}
@media (max-width: 1190px) {
  input.form-control {
    width: 38vw !important;
}
.Admin{
  top: 6.2vw;
}
.navbar-nav:dir(rtl){
  margin-right: 17px !important;
}
}
@media (min-width: 991px) and (max-width: 1190px) {
  input.form-control {
    width: 29vw !important;
}
.Admin{
  top: 7.9vw;
}
.navbar-nav .nav-link{
  font-size: 1.5vw;
}

}
@media (min-width:1190px) and (max-width:1208px){
  .Admin{
    top: 8.2vw;
  }
  input.form-control {
    width: 46vw !important;
}
}

@media (min-width: 768px) and (max-width:991px){
  .navbar-collapse{
    background-color: white;
    z-index: 10;
    border-radius:0.5rem;
  }
  .navbar-toggler{
    margin-top:-7.5rem;
  }
  .navbar-toggler:dir(rtl){
    margin-top: -3.5rem;
  }
  a{
    color: black !important;
  }
  .in{
    margin-top: -122px !important;
    position: relative;
    left: 15% !important;
    margin-left: 20vw;
    display: flex;
    direction: ltr;
    position: relative;
  }
  .in:dir(rtl)
  {
    margin-top: -59px !important;
    position: relative;
    left: 23% !important;
    margin-left: 20vw;
    display: flex;
    direction: ltr;
    position: relative;
  }
  .select:dir(rtl){
    margin-top: 15px !important;
    width: 13% !important;
    position: relative;
    top: -29px !important;
    left: -44vw !important;
  }
  .form-select:dir(rtl){
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }
  .in button:dir(rtl)
  {
    margin-right: 0px !important;
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }
  .in input{

    width: 44vw !important;
  }
  /* .mb-3{
    margin-top: 15px !important;
    width: 21% !important;
    position: relative;
    direction: ltr;
    left:34vw;
  } */
  .select{
    margin-top: 15px !important;
    width: 13% !important;
    position: relative;
    top: -26px !important;
    direction: ltr;
    left: -60vw !important;

  }
  .form-select{
    border-radius: 5px !important;
  }
  ul{
    text-align: center;
  }
  .link:hover + .collapse:not(.show) {
    z-index: 10;
    display: block;
  }
  .navbar-brand{
    margin-top: -5vw;
    margin-left: 4vw;
  }
  .logo{
    padding-bottom: 16px;
    padding-top: 0px;
    margin-bottom: 5px;
    width: 17vw;
    height: 11vh;
  }
  .Admin{
    position: relative;
    right: -3vw;
    margin-bottom: 4vw;
  }
}
@media (max-width: 768px) {
  .navbar-collapse{
    background-color: white;
    z-index: 10;
    border-radius:0.5rem;
  }
  .navbar-toggler{
    margin-top:-7.5rem;
  }
  .navbar-toggler:dir(rtl){
    margin-top: -3.5rem;
  }
  a{
    color: black !important;
  }
  .in{
    margin-left: 43vw;
    display: flex;
    direction: ltr;
    position: relative;
  }
  .in:dir(rtl)
  {
    margin-top: -59px !important;
    position: relative;
    left: 23% !important;
    margin-left: 20vw;
    display: flex;
    direction: ltr;
    position: relative;
  }
  .select:dir(rtl){
    margin-top: 15px !important;
    width: 13% !important;
    position: relative;
    top: -29px !important;
    left: -41vw !important;
  }
  .form-select:dir(rtl){
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }
  .in button:dir(rtl)
  {
    margin-right: 0px !important;
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }

  .mb-3{
    margin-top: 15px !important;
    width: 21% !important;
    position: relative;
    direction: ltr;
    left:50vw;
    }
  .form-select{
    border-radius: 5px !important;
  }
  ul{
    text-align: end;
    margin-right: 2rem !important; 
  }

  .link:hover + .collapse:not(.show),
   #navbarScroll:hover{
    z-index: 10;
    display: block;
  }
  .navbar-brand{
    margin-top: -5vw;
    margin-left: 3vw;
  }
  .logo{
    padding-bottom: 16px;
    padding-top: 0px;
    margin-bottom: 5px;
    width: 17vw;
    height: 11vh;
  }
  .Admin{
    position: relative;
    right: -3vw;
    margin-bottom: 4vw;
  }
  .select{
    margin-top: 15px !important;
    width: 12% !important;
    position: relative;
    top: -26px !important;
    direction: ltr;
    left: -58vw !important;
  }
  .search-div{
    margin-top: -122px !important;
    margin-left: 35vw !important;
  }
}

@media (max-width: 576px) {
  .logo{
    padding-bottom: 16px !important;
    padding-top: 0px !important;
    margin-bottom: 5px !important;
    width: 17vw  !important;
    height: 11vh !important;
  }
  .navbar-toggler:dir(rtl){
    margin-top: -3.5rem;
  }
  .Admin{
    position: relative;
    right: -3vw;
    margin-bottom: 4vw;
  }
  .in:dir(rtl)
  {
    margin-top: -51px !important;
    position: relative;
    left: 24% !important;
    margin-left: 20vw;
    display: flex;
    direction: ltr;
    position: relative;
  }
  .select:dir(rtl){
    margin-top: 15px !important;
    width: 15% !important;
    position: relative;
    top: -25px !important;
    left: -34vw !important;
  }
  .form-select:dir(rtl){
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }
  .in button:dir(rtl)
  {
    margin-right: 0px !important;
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }

  .link{
    margin-top: -12vw !important;
  }
  .navbar-collapse{
    background-color: white;
    z-index: 10;
    border-radius:0.5rem;
  }
  .navbar-toggler{
    margin-top:-7rem;
  }
  .navbar-brand{
    margin-top: -1rem;
  }
  .navbar-brand img {
    width: 15vh !important;
    height: 9vh !important;
  }
  .search-div{
    margin-top: -7rem !important;
    margin-left: 11rem !important;
  }
  input.form-control{
    width: 31vw !important;
  }
  .select{
    margin-top: 15px !important;
    width: 15% !important;
    position: relative !important;
    direction: ltr;
    top: -21px !important;
    left: -52vw !important;
  }
}
.navbar{
    display: flex;
    justify-content: center !important;
}
@media (max-width: 470px){
  input.form-control{
    width: 8rem !important;
  }
  .navbar-brand{
    margin-top: -1rem;
    margin-left: -2vw;
  }
  .navbar-brand img{
    width: 10vh !important;
    height: 6vh !important;
  }
  .select{
    display: none !important;
  }
  .search-div{
    display: none !important;
  }
  .navbar-toggler {
    margin-top: -3rem !important;
  }
  .collapse .input-group{
    display: block !important;
  }
  .collapse .in{
    display: flex !important;
  }
  .collapse .in.in:dir(rtl){
    margin-top: -53px !important;
    position: relative;
    left: 19% !important;
  }
  .mb-3:dir(rtl){
    left: -24vw;
  }
  .mb-3{
    left: 51vw;
  }
}





/* //////////////////////////////////////////////////////////////////sec nav */
.sec-nav{
  background-color: #232f3e;
  color: white;
}
.sec-nav ul{
  flex-wrap: wrap;
}
.sec-nav ul li{
  margin-left: 2rem;
  margin-top: 3px;
  padding: 3px 13px;
}
.sec-nav ul li:hover{
  border: 1px solid white;
  /* padding: 3px 13px; */
  /* padding-left: 5px;
  padding-right: 5px; */
}
.sec-nav ul li a{
  text-decoration: none !important;
  color: white;
}
@media (min-width: 768px) and (max-width:990px){
  .sec-nav {
    height: auto; 
  }

  .sec-nav ul {
    flex-direction: row; 
    align-items: center; 
  }

  .sec-nav ul li {
    margin: 5px 0; 
  }
  .sec-nav ul li a{
    color: white !important;
  }
  .sec-nav ul li:hover{
    border: 1px solid white;
  }
}

@media (max-width: 767px) {
  .sec-nav {
    height: auto;
  }

  .sec-nav ul {
    flex-direction: row; 
    align-items: center; 
  }

  .sec-nav ul li {
    margin: 5px 0; 
  }
  .sec-nav ul li a{
    color: white !important;
  }
  .sec-nav ul li:hover{
    border: 1px solid white;
  }
}