<header>
  <div class="navbar">
      <div class="nav-logo border">
          <div class="logo"></div>
      </div>

      <div class="nav-address border">
          <p class="address-first">Deliver to</p>
          <div class="address-icon">
              <i class="fa-solid fa-location-dot"></i>
              <p class="address-second">India</p>
          </div>
      </div>

      <div class="nav-search">
          <select class="search-select">
              <option>All</option>
          </select>

          <!-- <input class="search-input" type="text" placeholder="Seach Amazon" >

          <div class="search-icon" (click)="searchProducts()">
              <i class="fa-solid fa-magnifying-glass"></i>
          </div> -->
          <input class="search-input" type="text" placeholder="Search Amazon" [(ngModel)]="searchQuery">
            <div class="search-icon" (click)="searchProducts()">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

      </div>

      <div class="nav-signin border">
          <p><span class="nav-first">Hello, Sign in</span></p>
          <p class="nav-second">Account & List</p>
      </div>

      <div class="nav-return border">
          <p><span class="nav-first">Return</span></p>
          <p class="nav-second">& Orders</p>
      </div>

      <div class="nav-cart border">
          <i class="fa-solid fa-cart-shopping"></i>
          Cart
      </div>
  </div>

  <div class="panel">
      <div class="panel-all">
          <i class="fa-solid fa-bars"></i>
          All
      </div>

      <div class="panel-ops">
          <p>Today's Deals</p>
          <p>Customer Services</p>
          <p>Registry</p>
          <p>Gift Cards</p>
          <p>Sell</p>
      </div>

      <div class="panel-deals">
          Shop deals in Electronic
      </div>
  </div>
</header>