
<!-- <h1>Your orders</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Order Number</th>
      <th scope="col">Order Status</th>
      <th scope="col">Order Date</th>
      <th scope="col">Total Price</th>
      <th scope="col">address id</th> -->
      <!-- <th>Order Details</th> -->
    <!-- </tr>
  </thead>
  <tbody> -->
      <!-- @for (item of orders ; track item.id) {
    <tr>
      <td>{{item.id}}</td>
      <td>{{item.status}}</td>
      <td>{{item.datePlaced}}</td>
      <td>{{item.totalPrice}}</td>
      <td>{{order.addressId}}</td> -->

      <!-- <button (click)="details(item.id)">Order Details</button>
      <button (click)="delete(item.id)">Delete</button> -->
    <!-- </tr>
  }
  </tbody>
</table> -->
<!-- 
  @for(order of orderdetails ; track order.orderitemid)
  {
  <div class="container col-12">
    <p>Product Name{{order.productname}}</p>
    <p>Date{{order.datePlaced}}</p>
    <p>Total Price{{order.totalPrice}}</p>
    <p>Order Status{{order.status}}</p>
    @if (order.status == "Pending") {
      <p>Quantity {{order.quantity}}</p>
    <span>Quantity</span><input type="number" value="order.quantity" #inp/>
    <button   (click)="updateQuantity(order,inp.value)">Update</button>
    }@else {
      <p>Quantity{{order.quantity}}</p>
    } -->
<!-- 
  </div>
<br/>} -->


<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="container col-6 col-xs-12 ">
  <h1>{{'order.Your orders'|translate}}</h1>
    <div class="form">
      <input type="text" class="Searchinput" aria-label="Text input with dropdown button"  placeholder="Search By Order Status" [(ngModel)]="searchTerm" (keyup.enter)="searchByOrderStatus()">
      <button class="btn "  (click)="searchByOrderStatus()" type="submit" style="margin-right: 8px;">Search Orders</button>
    </div>


        @for (item of filteredOrders ; track item.id) {
          <div class="ordertotal">
        <div class="order">
        <div>{{'order.Date Placed'|translate}}<div>{{item.datePlaced|date}}</div></div>
        <div>{{'order.Order Status'|translate }}<div>{{item.status}}</div></div>
        <div>{{'order.Total'|translate}} <div>{{item.totalPrice}}$</div></div>
      </div>
      <div class="details">
      <!-- <h6>{{'order.Ring No-Drill Mount for Ring Video Boorbell'|translate}}</h6> -->
        <button (click)="details(item.id)" class="btn">View your item</button>
      </div>
      </div>
    }
    <h3 class="title">{{'order.Order Item'|translate}}</h3>
  @for(order of orderdetails ; track order.orderitemid)
  {
  <div class="orderitem col-12 col-xs-12">
    <p>{{'order.Product Name'|translate}} : {{order.productname}}</p>
    <p>{{'order.Date '|translate}} : {{order.datePlaced|date:'yyyy-MM-dd'}}</p>
    <p>{{'order.Total Price'|translate}}: {{order.totalPrice}}</p>
    <p>{{'order.Order Status'|translate}} : {{order.status}}</p>
    <p>{{'order.Quantity'|translate}} : {{order.quantity}}</p>

  </div>
  <br/>
  }
</div>