
.order{
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  padding: 1.2vw;
}
.btn{
  border: 1px solid gray;
  margin: 0.5vw;
}
.orderitem{
  margin-top: 2vw;
  padding-left: 3vw;
  font-size: 1.3vw;
  font-weight: bold;
  color:rgb(102 90 99) ;
}
.details{
  padding:1vw;
}
.title{
  margin-top: 2vw;
  padding-left: 1.5vw;
  color:rgb(102 90 99) ;
}
.form{
text-align: end;
}
.form .btn{
  padding: 0.4rem !important;
  margin-top: 0.1rem;
  margin-right: 8px;
  padding: 0;
  border-radius: 15px;
  background-color: #000000d9;
  color: white;
}
.form input{
  padding: 0.3rem;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .orderitem{
  font-size:2.5vw;
  }
  .container{
  width: 100%;
  }
 

}

@media (max-width: 990px) {
  .orderitem{
  font-size:2.5vw;
  }
  .container{
  width: 100%;
  }

 
}


.parent{

  display: flex;
}

.parent img{
  width: 100%;
}
/* .parent{
  border-radius: 10px;
  border: 1px solid rgb(116 115 115 / 59%);
  margin-top: 2rem;
} */
/* .container{
  margin-top: 2rem;
  margin-bottom: 2rem;
} */


