<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="./assest/fabicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />

    </head>
<style>
 
   

    .left_img_button, .right_img_button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px;
        z-index: 1;
    }

    .right_img_button {
        right: 0;
    }
</style>

<body>
    <div class="container-fluid">
         <!-- --------------------------main------------------------------ -->
         <div class="main">

            <div class="main-imgs">
                <div class="left_img_button" id="prevButton">
                    &lt;
                </div>
                <div class="main-img">
                    <img src="https://m.media-amazon.com/images/I/71NkBMREn4L.SX3000.jpg" class="d-block" alt="...">
                    <img src="https://m.media-amazon.com/images/I/612-T5YABuL._SX3000.jpg" class="d-block" alt="...">
                </div>
                <div class="right_img_button" id="nextButton">
                    &gt;
                </div>
            </div>
                
                

            <div class="boxs">


                <div class="row row-cols-1 row-cols-md-4 g-4">

                    <div class="col">
                      <div class="card">
                        <h2>All your Ramadan needs | Wide Selection</h2>
                        <img src="https://images-eu.ssl-images-amazon.com/images/G/42/Sunrise/Events/2024/RMS/GW/XCM_Manual_1693222_6130890_758x608_2X._SY608_CB580373010_.jpg" alt="">
                        <span>see more</span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                  </div>


