
/*--image slider --*/
.image-container {
    position: relative;
}

.image-list {
    display: flex;
    overflow: hidden;
}

.image-item {
    min-width: 100%;
    /* height: 600px; */
    /* transform: translateX(-300%); */
    transition: transform 0.3s;

}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-btn-container {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-btn {
    border: 1px solid transparent;
    padding: 100px 20px;
    font-size: 50px;
    font-weight: 300;
    background-color: transparent;
    color: #000;
}

.slider-btn i {
    font-weight: 900;
}

.slider-btn:focus {
    border-color: seagreen;
    box-shadow: -2px -2px 2px rgb(230, 227, 227),
        2px 2px 2px white;
    margin: 2px;
}


/*sidebar navigation****/
#open-nav-sidebar {
    cursor: pointer;
}

.sidebar-container-navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: transparent;
    transform: translateX(-100%);
    display: flex;
    transition: transform 0.3s;


}

.slidebar-show {
    transform: translateX(0%);
    background-color: rgba(0, 0, 0, 0.7);
}

.sidebar-left-part {
    background-color: white;
    width: 365px;
    height: 100%;
    box-sizing: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.sidebar-top {
    display: flex;
    align-items: center;
    padding: 12px;
    padding-left: 30px;
    background-color: rgb(19, 25, 33);
    color: white;
}

.sidebar-top h2 {
    font-size: 22px;
    margin: 0;
}

.sidebar-top i {
    padding-right: 10px;
    font-size: 25px;
}

.sidebar-item {
    padding-left: 30px;
    border-top: 1.5px solid #ccc;
}

.sidebar-item h2 {
    font-size: 20px;
}

.sidebar-item p {
    color: rgb(65, 62, 62);
}

#sidebar-navigation-close {
    background-color: transparent;
    align-self: flex-start;
    font-size: 30px;
    border: none;
    color: white;
    padding: 20px;
    cursor: pointer;
}

.sidebar-wrap {
    /* height: 100%; */
    overflow: auto;
    padding-bottom: 100px;
}

/*product card container*/
.main{
    position: relative;
    top:-350px;
    /* background-color: rgb(196, 240, 240); */
    /* filter: blur(8px); */
    
}
.productBackgraound{
    background-color: rgba(213, 247, 247,0.4);
}
.card-product-container{
    padding: 20px;
    display: flex;
    justify-content: space-between;

}
.card-product{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 310px;
    /* box-shadow: -10px -0px 20px rgba(196, 240, 240,0.5),
    50px 50px 20px rgba(196, 240, 240,0.5); */
    padding: 10px;
}
.card-product h2{
    margin: 0;
    padding: 10px;
    
}

.card-product-nested-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.card-nested {

}

.card-nested p{
    margin: 5px;
}
.card-nested img {
    width: 128px;
    height: 102px;
    object-fit: cover;

}
.card-product-btn{
    font-size: 14px;
    align-self: flex-start;
    margin: 7px 10px; 
    padding-left: 0;
    background-color: transparent;
    border:none;
    color:rgb(25, 105, 105)
}
.card-product-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}


/***
        Today's deals section
***/
.today_deals_container{
    margin: 30px;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1),
    2px 2px 5px rgba(0, 0, 0, 0.1);
    
}
.today_deals_heading{
    display: flex;
    align-items: center;
    padding: 2px 20px;
}
.today_deals_heading p a{
    color:rgb(39, 114, 107);
    text-decoration: none;
    padding-left: 20px;
}
.today_deals_heading p a:hover{
    text-decoration: underline;
}

.today_deals_product_container{
    /* background-color: red; */
    /* height: 300px; */
    position: relative;
}
.today_deals_product_list{
    display: flex;
    overflow: hidden;

}
.today_deals_product_item{
    min-width: 250px;
    /* height: 250px; */
    padding: 0px 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    transform: translateX(0%);
    transition: transform 1s;
}
.todayDeals_product_image{
    height: 200px;
    width: 210px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 15px;
}
.today_deals_product_item img{
    width: 100%;
    height: 100%;
    /* padding: 20px 20px; */
    background-color: red;
}
.today_deals_product_item p{
    justify-self: flex-end;
}
.discount_Contaienr{
    /* border: 2px solid red; */
}
.discount_Contaienr a{
    padding: 5px 10px;
    font-size: 14px;
    color:rgb(211, 30, 84);
    text-decoration: none;
}
.discount_Contaienr a:first-child{
    background-color: rgb(211, 30, 84);
    padding: 5px 10px;
    color:white;
    font-weight: 550;
    text-decoration: none;
    border-radius: 3px;
    font-size: 12px;
}

.today_deals_btn_container{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px;
    z-index: 10;
}
.today_deal_btn{
    padding: 40px 10px;
    font-size: 40px;
    border: none;
    outline: none;
    background-color: rgb(255,255,255,0.4);
}

.text{
    background-color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.link{
    width: 100px;
}
.link a{
    text-decoration: none;
}
.link a:hover{
    text-decoration: underline;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .parent{
        display: flex;
        flex-direction: column;
        flex-wrap:nowrap;
    
     }
     .sec{
        margin-top:350px;
     }
     .crds .dis{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin-bottom: 40px;
        width: 100% !important;
     }
     .Grand{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
     }
     .text{
     flex-direction: column;
  
    
    }
}

/* For mobile devices (portrait and landscape) */
@media only screen and (max-width: 767px) {
 .parent{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;

 }
 .sec{
    margin-top:350px;
 }
 .crds .dis{
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 40px;


 } 
  .Grand{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
 }
 .text{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   }
 
}



.hero-section {
    height: 400px;
    background-position: center;
    background-size: cover;
  }
  
  /* Shop Section */
.shop-images{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    
}
 
  
  .shop-link {
    background-color: #fff;
    padding: 50px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    white-space: nowrap;
    margin: 20px;
   
  }

  
  
  .shop-link img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .shop-link a {
    display: inline-block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: blue;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .shop-link:hover a {
    color: #c7511f;
    text-decoration: underline;
  }.shop-images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 0; /* Add this line to remove bottom margin */
}
