<div class="container col-6">
    <h1>Order Details</h1>
    @for( orderitem of orderdetails; track orderitem.orderitemid)
    {
        <p style="margin-top: 2rem;padding-left: 21px;color: black;">Ordered in {{orderitem.datePlaced |date}}</p>
        <div class="item">
            <img [src]="'data:image/jpg;base64,' +orderitem.productImage" class="col-3"/>
            <div class="details">
                <p>{{orderitem.productname}}</p>
                <p>Product Price : {{orderitem.productPrice}}</p>
                <p>{{orderitem.quantity}}</p>
                <p>{{orderitem.productDescription}}</p>
                <p>Total Price : {{(orderitem.quantity) * (orderitem.productPrice ?? 0)}}</p>
            </div>
        </div>
    }
</div>