/* .card
{
    align-items: center;
    justify-content: center;
}
.card img
{
    width: 20vw;
    height: 20vh;
} */
.container-fluid 
{
    padding: 0px;
    
}
.select
{
    background-color: rgb(255, 255, 255);
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 4px;
    height: 7vh;
    white-space: nowrap;
}
.form-select
{
    width: 12vw;
    height: 5vh;
    font-size: 1vw;
    border-radius: 20px;
    background-color: rgb(235, 236, 237);
}
.form-select:hover
{
  background-color: rgb(205, 205, 205);
  cursor: pointer;
}
.form-select option
{
    top: -20px;
    
}
.row
{
  
    margin: 0 !important;
    min-width: 100% !important;
}
.details
{
    padding: 2vw;
}

.details .square {
    border-radius: 2px;
    width: 15px; 
    height: 15px;
    display: inline-block; 
    border: 1px solid rgb(33, 32, 32); 
    box-sizing: border-box; 
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    color :red
}

.details .squre:hover {
    border-color: rgb(40, 40, 99); 
    border-width: 3px;
    cursor: pointer;
}

/*hover*/

/* .card-titled {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    line-clamp: 1; 
    box-orient: vertical;
    transition: -webkit-line-clamp 0.5s;
    transition: line-clamp 0.5s;
  }

  .card-titled:hover {
    -webkit-line-clamp: unset !important; 
    max-height: none;
  } */
  .card-titled {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
    transition: -webkit-line-clamp 0.5s;
    transition: line-clamp 0.5s;
    cursor: pointer; 
  }
  
  .expanded {
    -webkit-line-clamp: unset !important;
    max-height: none;
  }
  
  
  
 
  
.filterparent .filter
{
   color: black;
   font-size: 18px;
}
.filterparent .filter:hover,
.filterparent .filterb:hover
{
   color: #c45500;
   cursor: pointer;
  
}


.details img
{
    width: 2vw;
    height: 2vh;
}
.Fulfilledspan:hover
{
 color: #c45500;
 cursor: pointer;
}
p > span:hover
{
  color: #c45500;
  cursor: pointer;
}  
.priceinput
{
  width: 4vw;
  height: 5vh;
  margin-right: 3px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
  border: 1px solid black;
  border-radius: 8px;
}
.go {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px rgb(26, 25, 25) solid;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

.showproudects
{
    padding: 2vw;
}
.card1 
{
    height: 95vh;
}
.carddetails
{
   width: 18vw;
    height: auto !important;
    border: 2px;
    border-radius: 5px;
    background-color: rgb(247, 251, 251);
}
.cardimg
{
    background-color: rgb(233, 237, 240);
    text-align: center;
    justify-content: center;
    padding: 3px ;
    border-radius: 10px 10px 0px 0px;
   
}
.cardimg img
{
   height: 40vh;
   width: 18vw;
   
}
@media (max-width: 768px) { 
    .cardimg img {
      width: 90%;     
    }
    .carddetails
    {
        width: 80%;
    }
  }
.row
{
    height: auto;   
}
.showproudects
{
    height:auto ; 
}
.related
{
    height: 30vh;
    margin-top: 3%;
}
.container.related .col 
{
    margin-right: 0.3%;
    width: 30%;
    height: 10vh;
    border: 1px #ddd solid;
}

.container.related .col :hover
{
  text-decoration: underline; 
  color:#e16009;
  cursor: pointer;
}
.container.related .col p {
    display: inline;
    margin-left: 10%;
  }


  .pagination {
    border-radius: 0 !important;
  }
  
  .page-link {
    border-radius: 0 !important;
  }
  
  