<div class="Main_Page">
    <!-- slider -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://m.media-amazon.com/images/I/61mSBHhXXEL._SX3000_.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://m.media-amazon.com/images/I/71bQ5WqgwmL._SX3000_.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://m.media-amazon.com/images/I/61ge4oE-vJL._SX3000_.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://m.media-amazon.com/images/I/71S4xw5Z28L._SX3000_.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://m.media-amazon.com/images/I/71TPNNK+FKL._SX3000_.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev today_deal_btn" type="button"  id="today_deal_btn_prev" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next today_deal_btn" type="button" id="today_deal_btn_next" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


<!-- Category -->

<div class="container card-product-containe">
    <div class="row">
        <div class="col-md-4" *ngFor="let category of categories">
            <a [routerLink]="['/SearchForProudectComponent', category.nameEn]">
                <div class="card" style="margin-bottom: 10px;">
                    <h3 class="card-header">{{ category.nameEn }}</h3>
                    <img class="card-img-top" src="https://m.media-amazon.com/images/I/41aF1Kpc1iL._SY160_.jpg"
                        alt="Category Image" style="border-radius: 0%;">
                </div>
            </a>
        </div>
    </div>
</div>


  
  
<!--product container card-->

        <section class="today_deals_container deal2" style="overflow-x:auto; background-color: white;">
            <div class="today_deals_heading">
                <h1>Exciting deals</h1>
                <p><a href="#">See all deals</a></p>
            </div>

                
                <!-- prd -->
                <div class="gallerybox today_deals_product_list gall1"> 
                    <div class="imgbox today_deals_product_item" *ngFor="let deal of deals"> 
                        <img [src]="deal.img" />
                        <div class="discount_Contaienr">
                            <a href="#">Up to {{ deal.discount }}% off</a>
                            <a href="#">{{ deal.DealOfDay }}</a>
                        </div>
                        <p>{{ deal.desc }}</p>
                    </div>
                </div>
             
           
    
        </section>

<!--today's deals -->
<!-- <section class="today_deals_container fir"">
    <div class="today_deals_heading">
        <h1>Today's Deals</h1>
        <p><a href="#">See all deals</a></p>
    </div>


  
</section> -->
  <!-- image slider -->
 
  <div class="gallerybox"> 
    <div class="imgbox"> 
        <img src= 
"https://m.media-amazon.com/images/I/41HLsvJ3+HL._SY500__AC_SY200_.jpg" 
             alt="Img1"> 
        <img src= 
        "https://m.media-amazon.com/images/I/41U4BUHtGEL._SY500__AC_SY200_.jpg" 
                    alt="Img2"> 
                <img src= 
        "https://m.media-amazon.com/images/I/515x98ub2QL._SY500__AC_SY200_.jpg" 
                    alt="Img3"> 
                <img src= 
        "https://m.media-amazon.com/images/I/419+mFKYriL._SY500__AC_SY200_.jpg" 
                    alt="Img4"> 
                <img src= 
        "https://m.media-amazon.com/images/I/31quJakVxEL._SY500__AC_SY200_.jpg" 
                    alt="Img5"> 
                <img src= 
        "https://m.media-amazon.com/images/I/51jP+f77YBL._SY500__AC_SY200_.jpg" 
                    alt="Img6"> 
                <img src= 
        "https://m.media-amazon.com/images/I/31GaNbBbjgL._SY500__AC_SY200_.jpg" 
                    alt="Img7"> 
                <img src= 
        "https://m.media-amazon.com/images/I/41YvNFWs-bL._SY500__AC_SY200_.jpg" 
                    alt="Img8"> 
                <img src= 
        "https://m.media-amazon.com/images/I/51nZ07Fc-oL._SY500__AC_SY200_.jpg" 
                    alt="Img9"> 
                <img src= 
        "https://m.media-amazon.com/images/I/41ngMeaZCNL._SY500__AC_SY200_.jpg" 
                    alt="Img10"> 
            </div> 
        </div> 


<section class="shop-section" style="height: auto;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="shop-link">
                    <h3>Investigate a thrilling audiobook lineup</h3>
                    <img src="https://images-na.ssl-images-amazon.com/images/G/01/Audible/en_US/images/creative/amazon/24-0218-USNJACQ-AMZ-Gateways-BAU-April2024-Desktop-Category-Card-1x-379x304-V1._SY304_CB561220194_.jpg" alt="card">
                    <a href="#">Shop now</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="shop-link">
                    <h3>Add a card to your account</h3>
                    <img src="https://images-na.ssl-images-amazon.com/images/G/01/PAE/Incrementality/Desktop_ImageCard_B_379x304._SY304_CB582596875_.jpg" alt="card">
                    <a href="#">Shop now</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="shop-link">
                    <h3>Save on workstation essentials</h3>
                    <img src="https://images-na.ssl-images-amazon.com/images/G/01/US-hq/2024/img/Consumer_Electronics/XCM_CUTTLE_1706780_3694255_379x304_1X_en_US._SY304_CB579725802_.jpg" alt="card">
                    <a href="#">Shop now</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="shop-link">
                    <h3>Get more for your phone</h3>
                    <img src="https://images-na.ssl-images-amazon.com/images/G/01/US-hq/2023/img/Consumer_Electronics/XCM_CUTTLE_1545553_2933574_379x304_1X_en_US._SY304_CB613338409_.jpg" alt="card">
                    <a href="#">Shop now</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="shop-link">
                    <h3>Play without limits</h3>
                    <img src="https://images-na.ssl-images-amazon.com/images/G/01/US-hq/2024/img/Consumer_Electronics/XCM_CUTTLE_1706776_3694247_379x304_1X_en_US._SY304_CB579726753_.jpg" alt="card">
                    <a href="#">Shop now</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="shop-link">
                    <h3>Capture the moments</h3>
                    <img src="https://images-na.ssl-images-amazon.com/images/G/01/US-hq/2024/img/Consumer_Electronics/XCM_CUTTLE_1706774_3694243_379x304_1X_en_US._SY304_CB579723801_.jpg" alt="card">
                    <a href="#">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</section>









